@model IEnumerable<EstagioUFMT.Models.Saida>
@{
    /**/

    ViewBag.Title = "Index";
}
<h2>Cadastrar Alunos</h2>
<p>
    @Html.ActionLink("Incluir Novo Aluno", "Create", "Alunos", new { @class = "btn btn-primary" })
</p>


